[submodule "resources/MTK_commands"]
	path = resources/MTK_commands
	url = https://github.com/inmcm/MTK_commands.git
[submodule "resources/micropyGPS"]
	path = resources/micropyGPS
	url = https://github.com/inmcm/micropyGPS.git
[submodule "resources/Adafruit-Ultimate-GPS-FeatherWing-PCB"]
	path = resources/Adafruit-Ultimate-GPS-FeatherWing-PCB
	url = https://github.com/adafruit/Adafruit-Ultimate-GPS-FeatherWing-PCB.git
